body {
    text-align: center;
    background-image: url("https://bstatic.com/data/xphoto/1182x887/466/46695153.jpg?size=S");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana;
}  